.image-vysor-container {
  cursor: pointer;
  position: relative;
  width: 100%;
}

.image-vysor-description {
  background-color: rgba(10, 10, 10, 0.35);
  color: var(--color-white);
  padding: 4px 8px;
  width: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 5%;
  box-sizing: border-box;
  font-size: 14px;
  left: 50%;
  transform: translate(-100%, 0%);
}

.image-vysor-resume {
  width: 100%;
  height: 200px;
}

.image-vysor-details {
  width: 100%;
}