.searchbar {
  background-color: var(--color-light);
  border-radius: var(--radius-border);
  position: sticky;
  width: 50%;
  height: 38px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 6px rgba(97, 97, 97, 0.2);
  z-index: 1000;
}

.destination-container {
  left: 0%;
  display: flex;
  position: absolute;
}

/* .date-container {
  margin-left: auto;
  margin-right: auto;
} */

.date-container-button {
  right: 0%;
  display: flex;
  position: absolute;
}

.red {
  padding: 10px;
}

.date-container {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.searchbar-button {
  right: 0%;
  width: auto;
  padding: 10px;
  padding-left: 30px;
  background-color: var(--color-primary);
  color: var(--color-font-inverse);
  border-top-right-radius: var(--radius-border);
  border-bottom-right-radius: var(--radius-border);
  cursor: pointer;
}

.searchbar-button:hover {
  filter: brightness(1.1);
}