.card-details-container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 7em 1fr 3em;
  margin: auto;
  width: 65%;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 26px 16px;
  padding-top: 0px;
  box-shadow: 0px 3px 20px -13px var(--color-primary);
  transition: ease-in-out 0.3s;
  font-family: var(--font-secondary);
}

.card-details-container:hover {
  box-shadow: 0px 3px 20px -10px var(--color-primary);
}

.card-details-first {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.card-details-title {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.card-details-city {
  font-size: 20px;
  text-align: left;
}

.card-details-text {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 300;
}

.card-details-price {
  font-size: 30px;
  font-weight: 400;
}

.card-details-image {
  padding-right: 1%;
  grid-column: 1;
  grid-row: 2;
}

.card-details-right {
  padding: 0px 20px;
  text-align: center;
}

.card-details-right p {
  margin-top: 5px;
  text-align: justify;
}

.card-details-description {
  text-align: center;
  margin: 0px;
}

.card-details-realstate {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
  padding: 5px;
  margin-top: 10px;
}

.card-details-realstate img {
  margin-left: 10px;
  vertical-align: middle;
  width: 30px;
}

.card-details-services {
  grid-column: 1;
  grid-row: 3;
  padding: 5px;
  margin-top: 10px;
}

.card-details-service {
  padding: 20px;
}

.card-details-form {
  margin-top: 30px;
  display: inline-flex;
}

.card-details-button {
  background-color: var(--color-primary);
  width: 200px;
  color: var(--color-font-inverse);
  cursor: pointer;
  height: 50px;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  border-top-right-radius: var(--radius-border);
  border-bottom-right-radius: var(--radius-border);
  font-size: var(--font-size);
}

.card-details-button:hover {
  filter: brightness(1.1);
}