.card-details-container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6em 1fr 4em;
  margin: auto;
  width: 80%;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 26px 16px;
  box-shadow: 0px 2px 2px 2px rgba(66, 190, 219, 0.15);
  transition: ease-in-out 0.3s;
}

.card-details-container:hover {
  box-shadow: 0px 2px 2px 2px rgba(0, 107, 177, 0.3);
}

/* .card-details-container span {
  display: block;
} */

.card-details-title {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.card-details-image{
  padding: 10px;
  grid-column: 1;
  grid-row: 2;
}

.card-details-right{
  padding: 20px;
  text-align: center;
}

.card-details-city {
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 4px;
  color: var(--color-black);
}

/* .card-details-realstate {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-black);
  right: 0;
  display: flex;
  position: absolute;
  margin-right: 16px;
  margin-left: 16px;
} */