.card-details-container {
  display: grid;
  min-height: 80vh;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 8em 1fr 2em;
  margin: auto;
  width: 65%;
  background-color: var(--color-white);
  border-radius: 10px;
  padding: 26px 16px;
  box-shadow: 0px 3px 20px -13px var(--color-primary);
  transition: ease-in-out 0.3s;
}

.card-details-container:hover {
  box-shadow: 0px 3px 20px -10px var(--color-primary);
}

.card-details-first {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

.card-details-title {
  margin: 0px;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.card-details-city {
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 25px;
  margin-bottom: 4px;
}

.card-details-image {
  padding-right: 1%;
  grid-column: 1;
  grid-row: 2;
  
}

.card-details-right {
  padding: 20px;
  text-align: center;
}

.card-details-right p{
  text-align: justify;
  margin-bottom: 100px;
}

.card-details-description{
  text-align: center;
  margin-bottom: 20px;
}


.card-details-realstate {
  grid-column: 2;
  grid-row: 3;
  justify-self: center;
}

.card-details-realstate img {
  margin-right: 20px;
  vertical-align: middle;
}

.card-details-services {
  grid-column: 1;
  grid-row: 3;
  padding: 5px;
}

.card-details-service {
  padding: 20px;
}
.mail-button {
  background-color: var(--color-primary);
  color: var(--color-font-inverse);
  cursor: pointer;
  height: 40px;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  border-top-right-radius: var(--radius-border);
  border-bottom-right-radius: var(--radius-border);
  font-size: var(--font-size);
}

input {
  width: 100%;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 5px;
}

.Raiting{

}