.card-booking-container {
  width: 28%;
  min-height: 380px;
  display: inline-block;
  background-color: var(--color-white);
  border-radius: var(--radius-card-resume);
  box-shadow: 0px 6px 20px -13px var(--color-primary);
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding: 26px 15px;
  margin: 10px 5px;
  position: relative;
}

.card-booking-container:hover {
  box-shadow: 10px 10px 20px -10px var(--color-primary);
}

.card-booking-container span {
  display: block;
}

.card-booking-title {
  font-size: 22px;
  font-family: var(--font-secondary);
  font-weight: 200;
  margin-top: 0px;
  color: var(--color-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-booking-check {
  height: 55px;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: var(--font-secondary);
  font-size: 15px;
  font-weight: 200;
}

.card-booking-checkin {
  margin-right: auto;
}

.card-booking-checkout {
  margin-left: auto;
}

.card-booking-citytext {
  font-size: 15px;
  text-align: left;
}

.card-booking-city {
  font-family: var(--font-secondary);
  margin-bottom: 4px;
  color: var(--color-black);
}

.card-booking-text {
  font-family: var(--font-secondary);
  font-weight: 200;
}

.card-booking-realstate {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-black);
  right: 0;
  display: flex;
  position: absolute;
  margin-right: 16px;
  margin-left: 16px;
  color: var(--color-secondary);
}