/*p{

    color:  #006BB1
}
div{
    margin-left: 15%;
}
body{
    min-height: 100vh;
    background-image: url('../../assets/bgMain.jpg');
    background-position: center;
    background-size: cover;
    min-width: 100vw;
    background-image: url('../../assets/bgMain.jpg');
}*/
.text{
    color:  #006BB1
}