.dropdown-container {
  background-color: var(--color-primary);
  color: var(--color-font-inverse);
  cursor: pointer;
  width: auto;
  height: 30px;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}

.dropdown-container:hover .option-selected {
  filter: brightness(1.1);
}

/* .full-border {
  border-radius: var(--radius-border);
}

.right-border {
  border-top-right-radius: var(--radius-border);
  border-bottom-right-radius: var(--radius-border);
} */

.left-border {
  border-top-left-radius: var(--radius-border);
  border-bottom-left-radius: var(--radius-border);
}

.option-selected {
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
  background-color: var(--color-primary);
  z-index: 100;
  height: 100%;
  display: flex;  
  align-items: center;
}

.option-value {
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.dropdown-container--opened {
  display: block;
  background-color: var(--color-primary);
  border-radius: var(--radius-border);
  padding-top: 4px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 4px;
}

.dropdown-container--closed {
  display: none;
}
