body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-primary: #006BB1;
  --color-secondary: #2195c6;
  --color-accent: #E4FDE1;
  --color-light: #F0F0F0;
  --color-white: #ffffff;
  --color-black: #252525;
  --color-font-primary: #000000;
  --color-font-inverse: #ffffff;
  --radius-border: 4px;
  --radius-card-resume: 2px;
  --font-secondary: 'Cairo', sans-serif;
}