.searchbar {
  background-color: transparent;
  border-radius: var(--radius-border);
  position: sticky;
  width: 50%;
  height: 38px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 6px rgba(97, 97, 97, 0.2);
  z-index: 1000;
}

.date-container-left {
  cursor: pointer;
  width: auto;
  padding: 8px 19px;
  border-radius: 0px;
  border: 2px solid var(--color-primary);
  font-size: var(--font-size);
  text-align: center;
}

.date-container-right {
  cursor: pointer;
  width: auto;
  padding: 8px 17px;
  border-radius: 0px;
  border: 2px solid var(--color-primary);
  font-size: var(--font-size);
  text-align: center;
}

.searchbar-button {
  background-color: var(--color-primary);
  color: var(--color-font-inverse);
  cursor: pointer;
  width: auto;
  height: 38px;
  display: inline-block;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
  border-top-right-radius: var(--radius-border);
  border-bottom-right-radius: var(--radius-border);
  font-size: var(--font-size);
  border-color: var(--color-primary);
}

.searchbar-button:hover {
  filter: brightness(1.1);
}