.card-resume-container {
  width: 20%;
  display: inline-block;
  background-color: var(--color-white);
  border-radius: var(--radius-card-resume);
  padding: 26px 20px;
  margin: 15px 10px;
  box-shadow: 0px 3px 20px -13px var(--color-primary);
  cursor: pointer;
  transition: ease-in-out 0.3s;
  position: relative;
  max-width: 250px;
  position: relative;
  left: 30px;
  box-sizing: initial;
}

.card-resume-container:hover {
  box-shadow: 0px 3px 20px -10px var(--color-primary);
}

.card-resume-container span {
  display: block;
}

.card-resume-title {
  font-size: 22px;
  font-family: var(--font-secondary);
  font-weight: 200;
  color: var(--color-primary);
}

.card-resume-image {
  width: 100%;
}

.card-resume-city {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 4px;
  color: var(--color-black);
}

.card-resume-realstate {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-black);
  right: 0;
  display: flex;
  position: absolute;
  margin-right: 16px;
  margin-left: 16px;
}
