.card-resume-container {
  width: 17%;
  display: inline-block;
  background-color: var(--color-white);
  border-radius: var(--radius-card-resume);
  box-shadow: 0px 3px 20px -13px var(--color-primary);
  cursor: pointer;
  transition: ease-in-out 0.3s;
  padding: 26px 15px;
  padding-top: 15px;
  margin: 10px 5px;
  max-width: 250px;
  position: relative;
}

.card-resume-container:hover {
  box-shadow: 0px 3px 20px -10px var(--color-primary);
}

.card-resume-container span {
  display: block;
}

.card-resume-title {
  font-size: 22px;
  font-family: var(--font-secondary);
  font-weight: 200;
  margin-top: 0px;
  color: var(--color-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-resume-image {
  width: 100%;
}

.card-resume-city {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 4px;
  color: var(--color-black);
}

.card-resume-realstate {
  font-family: var(--font-secondary);
  font-size: 14px;
  color: var(--color-black);
  right: 0;
  display: flex;
  position: absolute;
  margin-right: 16px;
  margin-left: 16px;
}

.footer{
  background-color: var(--color-secondary);
  height: 30px;
  margin: auto;
  width: 60%;
  border-radius: 20px;
  text-align: center;
}
